.large-hero{
	position:relative;	
	background-color:green;		
	
	&__text-content{		
		position:absolute;
		top:35%;
		left:0;
		width:100%;
		text-align:center;
		font-weight:300;
		font-size:1.0rem;

		@mixin atMedium{
			top:35%;
			left:0;
			font-weight:300;
			font-size:1.4rem;
		}		

		@mixin atLarge{
			top:35%;
			left:0;
			font-weight:300;
			font-size:1.8rem;
		}
		
	}

	img{
		width:100%;
		height:auto;
	}
	
	&__video-content{
		width:100%;
		display:block;
		z-index:-1;
	}

	&__quote{		
		max-width:16rem;
		font-size:0.8rem;
		font-weight:200;
		margin:0 auto 0 auto;
		text-shadow:6px 6px 2px rgba(22,22,22,0.8);

		@mixin atSmall{
			max-width:26rem;
			font-size:1.4rem;
		}
		
		@mixin atMedium{			
			max-width:22rem;
			font-size:1.2rem;
			text-shadow:3px 3px 2px rgba(22,22,22,0.8);			
		}
		
		@mixin atLarge{			
			max-width:32rem;
			font-size:2.0rem;	
			width:20px;
			margin:0 auto 0 auto;			
		}
	}

	&__subtext{			
		font-size:0.6rem;
		font-weight:300;
		margin-top:30px;		
		text-shadow:4px 4px 2px rgba(22,22,22,0.4);
		
		@mixin atSmall{			
			font-size:0.8rem;
		}
		
		@mixin atMedium{
			font-size:1.0rem;			
		}
		
		@mixin atLarge{	
			font-size:1.1rem;
		}
	}
}