.logo-block{
		position:absolute;
		top:0px;
		left:80px;
		width:250px;		
		z-index:4;
		user-select:none;
		/* background-color:rgba(200,240,190,0.5); */
		line-height:2.8rem;
		
		@mixin atSmall{			
			top:8px;
			left:6px;		
			width:260px;
			/* display:inline-block; */
		}
									
		@mixin atMedium{			
			top:10px;
			left:12px;		
			width:440px;
			/* display:inline-block; */
		}
		
		@mixin atLarge{
			top:12px;
			left:20px;
			width:450px;
			line-height:1.2;			
		}
	
	&__text{		
		position:absolute;
		text-align:left;
		top:62px;
		left:16px;
		width:100%;
		font-family:"Oswald", Sans-serif;
		font-size:2.0rem;
		font-weight:400;
		color:rgba(223,242,242,1.0);
		text-shadow:4px 4px 4px rgba(22,22,22,0.4);
		
		@mixin atSmall{					
			top:110px;
			left:220px;
			font-size:2.4rem;
			text-align:left;
		}
		
		@mixin atMedium{					
			top:135px;
			left:250px;
			font-size:2.6rem;
			text-align:left;
		}
		
		@mixin atLarge{
			top:200px;
			left:370px;
			font-size:4.0rem;
			text-align:left;
			}
		
		
	}
	
	&__image{
			width:200px;
			height:auto;
			
			@mixin atSmall{			
				width:140px;
				height:auto;
			}
			
			@mixin atMedium{			
				width:300px;
				height:auto;
			}
			
			@mixin atLarge{
				width:420px;
				height:auto;
			}
	}
		
}
