.logo-block{
		position:absolute;
		top:65px;
		left:70px;
		width:250px;		
		z-index:4;
		user-select:none;
		background-color:rgba(200,240,190,0.5);
		
		@mixin atSmall{			
			top:8px;
			left:6px;		
			width:260px;
			/* display:inline-block; */
		}
									
		@mixin atMedium{			
			top:20px;
			left:12px;		
			width:280px;
			/* display:inline-block; */
		}
		
		@mixin atLarge{
			top:12px;
			left:70px;
			width:250px;	
		}
	
	&__text{
		
		position:absolute;
		text-align:left;
		top:90px;
		left:28px;
		width:100%;
		font-family:"Oswald", Sans-serif;
		font-size:2.4rem;
		font-weight:400;
		color:rgba(223,242,242,1.0);
		text-shadow:4px 4px 4px rgba(22,22,22,0.4);
		
		@mixin atSmall{					
			top:110px;
			left:220px;
			font-size:2.4rem;
			text-align:left;
		}
		
		@mixin atMedium{					
			top:122px;
			left:240px;
			font-size:2.6rem;
			text-align:left;
		}
		
		@mixin atLarge{
			top:174px;
			left:340px;
			font-size:4.0rem;
			text-align:left;
			}
		
		
	}
	
	imgsss{
			width:33px;
			height:auto;
			
			@mixin atSmall{			
				width:140px;
				height:auto;
			}
			
			@mixin atMedium{			
				width:280px;
				height:auto;
			}
			
			@mixin atLarge{
				width:420px;
				height:auto;
			}
	}
		
}
