.logo-block{
		position:fixed;
		top:0px;
		left:40px;
		width:250px;		
		z-index:4;
		/* user-select:none;		 */
		line-height:2.8rem;
		
		@mixin atSmall{			
			top:8px;
			left:6px;		
			width:260px;
		}
									
		@mixin atMedium{			
			top:10px;
			left:12px;		
			width:250px;
		}
		
		@mixin atLarge{
			top:12px;
			left:20px;
			width:450px;
			line-height:1.2;			
		}
	
	&__text{		
		position:absolute;
		text-align:left;
		top:12px;
		left:0px;
		width:100%;
		user-select:none;
		cursor:default;
		font-family:"Oswald", Sans-serif;
		font-size:2.0rem;
		font-weight:300;
		color:rgba(223,242,242,1.0);
		text-shadow:4px 4px 4px rgba(22,22,22,0.4);
		
		@mixin atSmall{					
			top:110px;
			left:220px;
			font-size:2.4rem;
			text-align:left;
		}
		
		@mixin atMedium{					
			top:22px;
			left:180px;
			font-size:1.8rem;
			text-align:left;
			user-select:none;
		}
		
		@mixin atLarge{
			top:35px;
			left:250px;
			font-size:3.0rem;
			text-align:left;
			}
		
		
	}
	
	&__image{
			width:180px;
			height:auto;
			
			@mixin atSmall{			
				width:140px;
				height:auto;
			}
			
			@mixin atMedium{			
				width:200px;
				height:auto;
			}
			
			@mixin atLarge{
				width:280px;
				height:auto;
			}
	}
}
