.primary-nav{

	&--pull-right{
		float:right;		
	}
	
	ul{
		margin:0;
		padding:0;
		
		@mixin clearfix;
	}
	
	li{
		list-style:none;
		float:left;
		padding-right:20px;
	}
	
	a{
		color:#fff;
		text-decoration:none;
		font-weight:300;
		display:block;
		padding:12px 12px;
		border-radius:8px;
	}
	
	a:hover{
		background-color:rgba($mainBlue,1.0);
	}
	
	#current a{
		background-color:rgba($mainOrange,1.0);
	}
}