.row{
	@mixin clearfix;	
	font-size:0.8rem;
	font-weight:300;
	text-align:justify;
	margin-top:40px;
	margin-bottom:100px;
	line-height:1.0rem;
	
	@mixin atMedium{
		line-height:1.4;
		margin-bottom:80px;
	}	
	
	@mixin atLarge{
		line-height:1.6;
		margin-bottom:90px;
	}
	
	strong{		
		font-size:1.2rem;
	}
	
	h3{
		font-size:0.8rem;
		text-align:center;
		
		
		@mixin atSmall{
		font-size:1.1rem;
		}
		
		@mixin atMedium{
		font-size:1.4rem;
		}
		
		@mixin atLarge{
		font-size:2.2rem;
		}		
		
	}
	
	/* a{
		text-decoration:none;
		color:$mainCyan;
	} */
	
	&__link{		
		text-decoration:none;
		color:$highlight;	
	}
	
	@mixin atSmall{
		float:left;
		font-size:0.9rem;
	}
	
	@mixin atMedium{
		float:left;
		font-size:0.9rem;
	}
	
	@mixin atLarge{
		float:left;
		font-size:1.2rem;
	}
	
	&--gutters{
		margin-right:-65px;
	}
	
	&--gutters > div{		
		padding-right:65px; 
	}
	
	&__4{
		float:left;
		width:33.33%;
	}
		
	&__8{
		float:left;
		width:66.66%;
	}
	
	&__50{
		/* float:left; */
		/* width:100%;		 */
		
		
		@mixin atSmall{
			float:left;
			width:40%;
			padding:0 40px;
		}
		
		@mixin atMedium{
			float:left;
			width:40%;
		}
		@mixin atLarge{
			float:left;
			width:45%;
		}
	}
			
}