.row{
	@mixin clearfix;	
	font-size:0.8rem;
	font-weight:300;
	text-align:justify;
	
	&__heading{
		font-size:1.0rem;
		font-weight:300;
		margin-left:20px;
		text-align:center;
		/* position:absolute;
		top:170px;
		left:50px; */
		/* padding:20px 0;
		font-size:0.7rem;
		font-weight:300;
		margin-left:20px;
		text-align:center;
		
		@mixin atSmall{			
			top:260px;
			left:290px;
			font-size:1.4rem;							
		}
		
		@mixin atMedium{
			top:340px;
			left:270px;
			font-size:2.4rem;			
		}
		*/
		@mixin atLarge{
			font-size:3.2rem;			
		}
	}
	
	h3{
		font-size:0.8rem;
		text-align:center;
		
		
		@mixin atSmall{
		font-size:1.1rem;
		}
		
		@mixin atMedium{
		font-size:1.4rem;
		}
		
		@mixin atLarge{
		font-size:2.2rem;
		}		
		
	}
	
	a{
		text-decoration:none;
		color:$mainCyan;
	}
	
	&__link{		
		text-decoration:none;
		color:$highlight;	
	}
	
	@mixin atSmall{
		float:left;
		font-size:0.9rem;
	}
	
	@mixin atMedium{
		float:left;
		font-size:0.9rem;
	}
	
	@mixin atLarge{
		float:left;
		font-size:1.2rem;
	}
	
	&--gutters{
		margin-right:-65px;
	}
	
	&--gutters > div{		
		padding-right:65px; 
	}
	
	&__4{
		float:left;
		width:33.33%;
	}
		
	&__8{
		float:left;
		width:66.66%;
	}
	
	&__50{
		/* float:left; */
		width:100%;
		
		@mixin atSmall{
			float:left;
			width:50%;
			padding:0 40px;
		}
		
		@mixin atMedium{
			float:left;
			width:50%;
		}
		@mixin atLarge{
			float:left;
			width:50%;
		}
	}
			
}