.site-header{
	padding:10px 0;
	position:fixed;
	width:100%;
	z-index:2;
	
	
	@mixin atMedium{
		background-color:rgba($mainBlue,0.3);
	}
	
	
	&__btn-container{
		float:right;
	}
	
	
	&__menu-content {
		display:none;
		
		@mixin atMedium{
			display:block;
		}
	}
}

