.visitors{
	position:relative;
	
	&__logo-image{
		position:absolute;
		background-color:red;
		width:120px;
	}

	&__image{
		margin-top:70px;		
		@mixin atSmall{
			margin-top:0;	
		}
		
		@mixin atMedium{
			margin-top:0;	
		}
		
		@mixin atLarge{
			margin-top:0px;	
		}
	}
	
	&__subline{
		position:absolute;
		top:170px;
		left:50px;
		font-size:0.7rem;
		font-weight:300;
		margin-left:20px;
		
		@mixin atSmall{			
			top:260px;
			left:290px;
			font-size:1.4rem;							
		}
		
		@mixin atMedium{
			top:340px;
			left:270px;
			font-size:2.4rem;			
		}
		
		@mixin atLarge{
			top:520px;
			left:480px;
			font-size:3.2rem;			
		}
	}
	
	&__logo{
		position:relative;		
		top:80px;
		left:8px;	
		z-index:2;
		background-color:blue;
		
		/* @mixin atSmall{			
			top:20px;
			left:10px;				
		}
		
		@mixin atMedium{			
			top:30px;
			left:10px;					
		}
		
		@mixin atLarge{			
			top:30px;
			left:180px;			
		} */
		
	}
	
	&__text{
		/* position:absolute;
		top:130px;
		left:86px;		 */
		text-align:center;
		font-family:"Oswald", Sans-serif;
		font-size:1.0rem;
		font-weight:400;
		color:rgba(223,242,242,1.0);
		text-shadow:4px 4px 4px rgba(22,22,22,0.4);
		
		@mixin atSmall{
			top:160px;
			left:224px;
			font-size:2.4rem;			
		}
		
		@mixin atMedium{
			top:210px;
			left:276px;
			font-size:2.6rem;
		}
		
		@mixin atLarge{
			top:330px;
			left:510px;
			font-size:4.4rem;
		}		
	}
	
	&__row-link{
		text-decoration:none;
		color:rgba($mainCyan,1);
	}
}


