.wrapper{
	overflow:hidden;
	padding-left:10px;
	padding-right:10px;
	max-width:1400px;
	margin-left:auto;
	margin-right:auto;
	/* background-color:green; */
	
	@mixin atSmall{
		max-width:940px;
		padding-left:18px;
		padding-right:18px;		
	}
	
	@mixin atMedium{
		max-width:1200px;		
	}
	
	@mixin atLarge{
		max-width:1820px;		
	}
}